# Stacks network
# 'mocknet' | 'testnet' | 'mainnet'
NETWORK="mainnet"

# Key used to sign prices 
SIGN_KEY=""

# Oracle private key to push prices on chain
STACKS_KEY=""

# Source to get prices from
# 'coinmarketcap' | 'coingecko' | 'coinapi' | 'cryptocompare' | 'redstone'
SOURCE="coinmarketcap"

# API keys for sources
CMC_KEY = ""
CRYPTOCOMPARE_KEY = ""
COINAPI_KEY = ""
